@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
     /*colors*/
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
     /*fonts*/
    --font-weight: 800;
    --font-family: 'Manrope';
    --font-size: 28px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: var(--font-family);
    background-color: var(--Dark-Blue);
    color: var(--Light-Cyan);
}
.container{
    height: 300px;
    width: 450px;
    background-color: var(--Dark-Grayish-Blue);
    border-radius: 13px;
    padding: 40px;
    position: relative;
}
#adv{
    text-align: center;
    color: var(--Neon-Green);
    font-family: var(--font-family);
    margin-bottom: 20px;
    letter-spacing: 0.3rem;
    font-size: 11px;
}
#par{
    width: 100%;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    text-align: center;
}
#desk{
    width: 100%;
    
}
.p{
    /*margin-bottom: 30px;*/
}

#dice{
    background-color: var(--Neon-Green);
    display: grid;
    place-items: center;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    position: absolute;
    bottom: -20px;
    left: 202px;
    cursor: pointer;
}
#dice > img{
    width: 40%;
}
#dice:hover{
    box-shadow: 0 0 40px 0 hsl(150, 100%, 66%);
  transition: 0.2s ease-in;
}